.container__inner{
  margin-top: 30px;
  &.main{
    display: flex;
    justify-content: space-evenly;
  }
  &.dashboard{
    display: flex;
    justify-content: space-evenly;
    .form-check{
      text-align: left;
    }
  }
}
.container__center{

}

//flex__container
.flex__container{
  display: flex;
  &.space-between{
    justify-content: space-between;
  }
  &.row{
    flex-direction: row;
  }
}