.container__inner{

}

// sidebar wrapper
.sidebar__wrapper{
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.login__outer{
  width: 40%;
}
.search-bar{
  width: 30%;
  .form-control{
    display: inline-block;
    width: 80%;
  }
}
.join-form{
  width: 40%;
}


// post
.dashboard{
  &.card{
    width: 60%;
  }
  .text-ctrl{
    width: 100%;
  }
}