{{#if user}}

{{/if}}
<div class="container__inner dashboard">

    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>


    <div class="card text-center dashboard">
        <form action="/post"></form>
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <textarea class="text-ctrl" name="post-content"  rows="10"></textarea>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-success" id="photo-upload">photo upload</button>
            <button class="btn btn-primary" id="post">Submit</button>
        </div>
    </div>


</div>